.button {
  margin-top: 0.7rem;
  width: 100%;
  background: #f87171;
  color: white;
  border-radius: 0.7rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.7rem 0;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.9;
} 